@page "/SubCategory"
@inject ISnackbar Snackbar

<div class="row">
    <div class="col-sm-9 col-12" style="margin: auto">
        <h3 id="quote" style="margin: auto">SubCategories</h3>
    </div>
    <div class="col-sm-3 col-12" style="margin: auto">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.PersonAdd" FullWidth="true" @onclick="() => OpenAddSubCategory()">Add SubCategory</MudButton>
    </div>
</div>

<MudDataGrid T="SubCategoryViewDto" MultiSelection="true" Hover="true" Dense="true" Bordered="true" Items="@GetSubCategoriesView" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"465px":"")" Class="mt-3 mb-3" Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Style="margin: auto">SubCategories List</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>

        <Column T="SubCategoryViewDto" Field="CategoryTitle" Title="Category Title" CellStyle="min-width: 300px">
            <CellTemplate>
                <MudText Typo="Typo.subtitle1">@context.Item.CategoryTitle</MudText>
            </CellTemplate>
        </Column>

        <Column T="SubCategoryViewDto" Field="Title" Title="SubCategory Title" CellStyle="min-width: 300px">
            <CellTemplate>
                <MudText Typo="Typo.subtitle1">@context.Item.Title</MudText>
            </CellTemplate>
        </Column>

        <Column T="SubCategoryViewDto" Field="SubCategory_id" Title="Delete" Sortable="false" Filterable="false">
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Style="color:red" @onclick="@(() => Delete(@context.Item.SubCategory_id))"></MudIconButton>
            </CellTemplate>
        </Column>

    </Columns>
    <PagerContent>
        <MudDataGridPager T="SubCategoryViewDto" />
    </PagerContent>
</MudDataGrid>

@*Add Sub Category*@
<MudPopover Open="_isOpenSubCategory" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter" Paper="false">
    <MudPaper Outlined="true" Class="px-4 py-8">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-6 col-sm-12" style="margin: auto;">
                <MudText>SubCategory</MudText>
            </div>
            <div class="col-md-6 col-sm-12 align-md-end">
                <MudIconButton Icon="@Icons.Material.Filled.Close" aria-label="Close" @onclick="@(() => OpenAddSubCategory())" style="float: right;margin-right: 1px;"></MudIconButton>
            </div>
        </div>

        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <div class="control-group" style="padding-bottom:11px;">
                        <input type="text" class="form-control" @bind="@SubCategoryTitle" @oninput="@((e) => { SubCategoryTitle=(string)e.Value;})" placeholder="Enter Title" required="required" />
                    </div>
                </MudItem>
            </MudGrid>
        </MudCardContent>

        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudSelect T="int" @bind-Value="SelectedCategoryId" Variant="Variant.Outlined">
                        <MudSelectItem Value="0">Select Category</MudSelectItem>
                        @foreach (var item in GetCategories)
                        {
                            <MudSelectItem Value="@item.Category_id">@item.Title</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudCardContent>

        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" @onclick="() => SubmitSubCategory()">Add SubCategory</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>

    </MudPaper>
</MudPopover>