@page "/ShoppingCart"

@if (CartItem == null)
{
    <div Style="padding-bottom:50px;">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="600px" />
    </div>
}
else
{
    @if (CartItem.Count() > 0)
    {
        <section class="h-100 h-custom" style="margin-bottom: 50px;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1"><b>Shopping cart</b></p>
                                            <p class="mb-0">You have @TotalItems items in your cart</p>
                                        </div>
                                        <div>
                                            @if (checktotalqty != null)
                                            {
                                                <MudAlert Severity="Severity.Error">@checktotalqty</MudAlert>
                                            }
                                        </div>
                                    </div>

                                    @foreach (var item in CartItem)
                                    {
                                        <div class="row" style="padding-bottom: 15px;">
                                            <div class="col-sm-2">
                                                <img src="@productslink/@item.ProductImage" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;    height: 64px;">
                                            </div>
                                            <div class="col-sm-7">
                                                <h6 style="margin-bottom: 0px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                                                    @item.ProductTitle
                                                </h6>
                                                @if (item.Color != "-")
                                                {
                                                    <span class="small mb-0">Color: @item.Color</span>
                                                }
                                                else
                                                {
                                                    <span class="small mb-0">Color: -</span>

                                                }
                                                @if (item.Size != "-")
                                                {
                                                    <span class="small mb-0">, Size: @item.Size</span>
                                                }
                                                else
                                                {
                                                    <span class="small mb-0">, Size: -</span>
                                                }
                                                <p class="small mb-0">Price: $@item.OrderPrice</p>
                                            </div>
                                            <div class="col-sm-3" style="text-align: right;">
                                                <span>
                                                    <input @oninput="()=>UpdateQty_Input(item.Cartitem_id)" type="number" @bind="@item.OrderQty" style="text-align: center;margin-right: 5px;width:75px;height: 32px;" />
                                                    @if (ShowButtons && id == item.Cartitem_id)
                                                    {
                                                        <a href="/ShoppingCart" style="color: green;padding-left:10px;padding-right:10px;" @onclick="(() => UpdateQtyCartItem_Click(item.Cartitem_id,item.Product_id,item.ProductTitle, item.OrderQty,item.StockQty))"><i class="fa fa-pencil"></i></a>
                                                    }
                                                    <a href="/ShoppingCart" style="color: red;padding-left:10px;" @onclick="(() => DeleteCartItem_Click(item.Cartitem_id))"><i class="fas fa-trash-alt"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-4">

                                    <div class="card text-white rounded-3" style="background-color:black;">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Card details</h5>
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                             class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            <p class="small mb-2">Card type</p>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-visa fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-amex fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                            <form class="mt-4">
                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                   placeholder="Cardholder's Name" />
                                                    <label class="form-label" for="typeName">Cardholder's Name</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                   placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                    <label class="form-label" for="typeText">Card Number</label>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="text" class="form-control form-control-lg"
                                                           placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                                            <label class="form-label" for="typeExp">Expiration</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="password" id="typeText" class="form-control form-control-lg"
                                                           placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                            <label class="form-label" for="typeText">Cvv</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <p class="mb-2">$@PaymentAmount</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Shipping</p>
                                                <p class="mb-2">$@Shipping</p>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total</p>
                                                <p class="mb-2">$@Total</p>
                                            </div>

                                            <button href="#" class="round-black-btn" style="width:100%;" @onclick="() => Checkout_Click()">
                                                <div class="justify-content-between">
                                                    <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="" style="margin-bottom: 60px;height: 700px;">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col">
                    <div class="card" style="height: 700px;">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1"><b>Shopping cart</b></p>
                                            <p class="mb-0">There are currently no items in your shopping cart</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}